body {
    font-size: 18px;
    font-family: system-ui, sans-serif;
    color: #ededed;
    background: #161616;
}

a {
    color: cornflowerblue;
}

a:hover {
    color: rgb(153, 189, 255);
    text-decoration: underline;
}

ul {
    list-style: disc;
    list-style-position: inside;
}

p {
    line-height: 1.8rem;
}

.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;

    width: 75vw;
    margin: 4rem auto;
}

section {
    margin-bottom: 3rem;
}

h2 {
    margin-bottom: 1rem;
}

.tech-stack-list {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 1rem 0;
}

/* CSS for larger screens */
@media (min-width: 768px) {
    .main-container {
        width: 75vw;
        margin: 4rem auto;
    }

    section {
        margin-bottom: 3rem;
    }

    h2 {
        margin-bottom: 1rem;
    }

    .tech-stack-list {
        flex-direction: row;
        gap: 2rem;
        padding: 1rem 0;
    }
}