html {
    font-size: 16px;
}

body {
    font-size: 1.1rem;
    font-family: system-ui, sans-serif;
    color: #ededed;
    background: #161616;
}

header {
    display: flex;
    margin: 2rem auto;
    width: 75vw;
    flex-direction: column;
}

header a {
    overflow-wrap: anywhere;
}

.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    width: 75vw;
    margin: 4rem auto;
}

@media (max-width: 600px) {
    body {
        font-size: 1.2rem;
    }

    header {
        display: flex;
        margin: 0;
        padding: 2rem;
        flex-direction: column;
    }

    .main-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        margin: 2rem 2rem;
    }
}

a {
    color: cornflowerblue;
}

a:hover {
    color: rgb(153, 189, 255);
    text-decoration: underline;
}

ul {
    list-style: disc;
    list-style-position: inside;
}

p {
    line-height: 1.8rem;
}

section {
    margin-bottom: 3rem;
}

h2 {
    margin-bottom: 1rem;
}

.tech-stack-list ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

@media (min-width: 1200px) {
    .tech-stack-list ul {
        grid-template-columns: repeat(3, 1fr);
    }
}